<a href="https://colab.research.google.com/github/mineoran/10-Days-of-Statistics-HackerRank/blob/main/Data%20Visualization%20/SummaryEda.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

*I prepared this notebook to use the data visualization tools I learned in "AI Programming with Python Nanodegree" on different data sets.*
- The dataset consists of meta details about the movies and tv shows such as the title, director, and cast of the shows / movies. Details such as the release year, the rating, duration etc. As the first step, let's load the dataset and made exploratory analysis. In this notebook, I have analysed this dataset to find top insights and findings.

#Steps to import datasets via **Kaggle**

In [ ]:
!cp kaggle.json ~/.kaggle/

In [ ]:
! pip install kaggle

Requirement already satisfied: kaggle in /usr/local/lib/python3.7/dist-packages (1.5.12)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from kaggle) (2.23.0)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.7/dist-packages (from kaggle) (1.15.0)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.7/dist-packages (from kaggle) (1.24.3)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from kaggle) (2021.10.8)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from kaggle) (4.62.3)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (from kaggle) (2.8.2)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.7/dist-packages (from kaggle) (5.0.2)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.7/dist-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle) (2.10)

In [ ]:
!mkdir ~/.kaggle

mkdir: cannot create directory ‘/root/.kaggle’: File exists

In [ ]:
! chmod 600 ~/.kaggle/kaggle.json

In [ ]:
!kaggle datasets download shivamb/netflix-shows

Downloading netflix-shows.zip to /content
  0% 0.00/1.34M [00:00<?, ?B/s]
100% 1.34M/1.34M [00:00<00:00, 37.5MB/s]

In [ ]:
! unzip sobhanmoosavi/us-weather-events

unzip:  cannot find or open sobhanmoosavi/us-weather-events, sobhanmoosavi/us-weather-events.zip or sobhanmoosavi/us-weather-events.ZIP.

In [ ]:
import pandas as pd
import numpy as np 
import seaborn as sns
from matplotlib import pyplot as plt
df = pd.read_csv('netflix-shows.zip')

# Data analysis

In [ ]:
df.head()

  show_id  ...                                        description
0      s1  ...  As her father nears the end of his life, filmm...
1      s2  ...  After crossing paths at a party, a Cape Town t...
2      s3  ...  To protect his family from a powerful drug lor...
3      s4  ...  Feuds, flirtations and toilet talk go down amo...
4      s5  ...  In a city of coaching centers known to train I...

[5 rows x 12 columns]

In [ ]:
df.drop('description',axis=1, inplace=True) # Drop the description and cast column
df.drop('cast',axis=1, inplace=True)

In [ ]:
df.head()

  show_id  ...                                          listed_in
0      s1  ...                                      Documentaries
1      s2  ...    International TV Shows, TV Dramas, TV Mysteries
2      s3  ...  Crime TV Shows, International TV Shows, TV Act...
3      s4  ...                             Docuseries, Reality TV
4      s5  ...  International TV Shows, Romantic TV Shows, TV ...

[5 rows x 10 columns]

In [ ]:
df.info() #Structural expressions of the dataset. or we can use df.dtypes

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   country       7976 non-null   object
 5   date_added    8797 non-null   object
 6   release_year  8807 non-null   int64
 7   rating        8803 non-null   object
 8   duration      8804 non-null   object
 9   listed_in     8807 non-null   object
dtypes: int64(1), object(9)
memory usage: 688.2+ KB

In [ ]:
#The describe function ignores missing observations and leaves out categorical variables.
df.describe().T

               count         mean       std  ...     50%     75%     max
release_year  8807.0  2014.180198  8.819312  ...  2017.0  2019.0  2021.0

[1 rows x 8 columns]

In [ ]:
#(number of observations,variable)
df.shape

(8807, 10)

In [ ]:
#When we only want to access variable names
df.columns

Index(['show_id', 'type', 'title', 'director', 'country', 'date_added',
       'release_year', 'rating', 'duration', 'listed_in'],
      dtype='object')

# Examination of missing values

In [ ]:
#Returns True if there is even one missing data
df.isnull().values.any()

True

In [ ]:
# How many missing values in which variable
# sum() : Returns the total number of missing values in all variables.

df.isnull().sum()

show_id            0
type               0
title              0
director        2634
country          831
date_added        10
release_year       0
rating             4
duration           3
listed_in          0
dtype: int64

In [ ]:
#We can replace all missing values with the value "0"
df["director"].fillna(0, inplace=True)
df["country"].fillna(0, inplace=True)
df["date_added"].fillna(0, inplace=True)

df.isnull().sum()

show_id         0
type            0
title           0
director        0
country         0
date_added      0
release_year    0
rating          4
duration        3
listed_in       0
dtype: int64